<div class="container-fluid sticky-top " style="background-color: white; border: solid 1px;">
<div class="container">
    <header class="d-flex justify-content-between align-items-center py-3">
      <img src="assets/library-logo.jpg" style="width: 200px; height: 50px;" alt="logo" class="px-5">
      
      <ul class="nav nav-pills ">
        <li class="nav-item"><a class="nav-link fw-bold" [class.active]="isHomeNavigation()" (click)="homeNavigation()">Home</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" [class.active]="isViewBorrowerNavigation()"  (click)="viewBorrowerNavigation()">View All Borrowers</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" [class.active]="isViewBookNavigation()" (click)="viewBookNavigation()" >View All Books</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" [class.active]="isOfferBookNavigation()" (click)="offerBookNavigation()" >Offer Books</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" [class.active]="isOfferHistoryNavigation()" (click)="offerHistoryNavigation()" >Offer History</a></li>
        <li class="nav-item "><a class="nav-link fw-bold" [class.active]="isAboutNavigation()" (click)="aboutNavigation()" >About</a></li>
        
      </ul>

      <div class="ms-auto">
        <button type="button" class="btn btn-primary me-3 text-end" (click)="logOutNavigation()">Log Out</button>
        
      </div>
    </header>
  </div>
</div>
